<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>EventMe</title>
    </head>
    <body>
       <div class="loginbox">
           <h1>Login Here</h1>
           <form>
               <p>Login Here</p>
               <input type="text" name="" placeholder="Enter Username">
               <p>Password</p>
               <input type="password" name="" placeholder="Enter Password"><br>
               <a href="org.html">Don't have an existing account?</a>

           </form>
       </div>
       <p></p>
       <a href="C:\Users\windows\Desktop\EventMe\Mapproject1\Template\select.html">
        <input type="submit" name="" value="Login">
        </a>
    </body>
</html>