<!DOCTYPE html>
<html lang=eng>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
        <style>
            .center{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                    }
        </style>
    </head>
    <body>
        <div class="center">
            <h1>Login</h1>
            <form method="POST">
                <div class="txt_field">
                    <label>Username</label><br>
                    <input type="text" name="username" id="username" placeholder="Enter Username" required>
                </div>
                <div class="txt_field">
                    <label>Password</label><br>
                    <input type="password" name="pass" id="password" placeholder="Enter Password" required>
                </div>
               <br><input id="login_btn" type="button" value="Login" onclick="check()">
                <div class="signup_link">
                    Create an account <a href="signup.html">Signup</a>
                </div>
            </form>
            <script src="{{url_for('static', filename='Javascript/signup.js')}}"></script>
           <!-- <script language="javascript">
                function org(form) {
                    if (form.username.value=="EventMe") {
                    if (form.pass.value=="eventme") {
                        location="custom.html"
                    }else{
                        alert("Invalid Password")
                    }
                    }else{
                        alert("Invalid username")
                    }
                    }
            </script>-->
        </div>
</body>
</html>