<!DOCTYPE html>
<html>
    <title>
        EventMe
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
    <body>
        <button id="sent" style="display: none;"></button>
        <div id="info" style="display: none; position: absolute; margin-left: 20px; margin-top: 20px; width: 300px; height: 200px; float: left;">
            <canvas id="qr-code"></canvas>
        </div>
            <canvas id="canvas"></canvas>
    </body>
    <script src="/static/Javascript/CreateObj.js"></script>
    <script type=text/javascript src="/static/Javascript/user.js"></script>
    <script type="text/javascript" src="/{{pid}}/toHTML.js"></script>
</html>