<link rel="stylesheet" href="\static\stylesheets\format.css">
<link rel="stylesheet" href="\static\stylesheets\form.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    body {
        margin: 0;
    }

    .npm canvas {
        background-color: black;
    }

    .qr-btn {
        background-color: #8c52ff;
        padding: 8px;
        color: white;
        cursor: pointer;
    }

    canvas {
        border: 2px solid;
    }
</style>

<body>
    <div style="float:left; margin-top:30px;">
        <div>
            <span>Change Background</span>
            <input type="file" name="image" id="image"  />
            <button onclick="uploadFile();">Upload</button>
        </div>

        <div style="display:none;">
            <input type="file" id="namebox1" onchange="preview(this)" name="template"> <br> <br>
            <button id="clickbutton" onclick="toCanvas()">Display</button>
            <img id="display" hidden>

            <h3>QR Code Generator</h3>
            <form action="#" method="POST">
                <div>
                    <input id="qr-text" type="text" placeholder="Type message QR Code..." / name="qrcode"></div>
                <br />
                <div>
                    <button class="qr-btn" onclick="generateQRCode()">create QR Code</button>
                </div>
            </form>
        </div>

        <button class="btn btn-primary" name="submit" id="sent">Submit/Save</button>
        <div>
            <button id="refresh_sv" onclick="refreshServer();">Refresh Form Server</button>
            <button id="save_temp" onclick="saveTemp();">Save Draft</button>
            <button id="clear_map" onclick="clearMap();">Clear Map</button>
            <button id="read_temp" onclick="doRenderTemp();">Undo</button> |
            <button id="edit_mode" onclick="Change(7);">Edit Booth</button> |
            <button id="save_img" onclick="saveImageAndDownload();">Save To PNG</button>
        </div>

        <canvas id="canvas" ></canvas> <br> <br>
        <div class="form-popup" id="CreateForm">
            <canvas id="qr-code"></canvas>

            <form class="form-container" method="GET">
                <h1>BoothInfo</h1>
                <label for="text"><b>Booth Name</b></label>
                <input id="DisName" type="text" placeholder="Name" name="boothname" onchange="updateQrCode();">
                <label for="text"><b>Overview</b></label>
                <input id="Description" type="text" placeholder="This booth is...." name="boothdesc"
                    onchange="updateQrCode();">
                <input type="button" class="btn" onclick="DisplayInfo()" placeholder="Title" name="boothname"></input>
                <button type="button" class="btn cancel" onclick="Close('CreateForm')">Close</button>
            </form>
        </div>
        <div class="form-popup" id="EditForm">
            <canvas id="qr-code2"></canvas>
            <form class="form-container">
                <h1>Edit Booth Information</h1>
                <label for="text"><b>Booth Name</b></label>
                <input id="EditName" type="text" placeholder="New Name" onchange="updateQrCode2();">
                <label for="text"><b>Overview</b></label>
                <input id="EditDis" type="text" placeholder="New Discription" onchange="updateQrCode2();">
                <button type="button" class="btn" onclick="ApplyEditBoothInfo()">Add Booth</button>
                <button type="button" class="btn cancel" onclick="Close('EditForm')">Close</button>
            </form>
        </div>
    </div>

    <div id="MenuContainer"  style="float:left; margin-top:90px;">
        <div>
            <button id="CLICKME" class="open-button" onclick="Change(2)">Toilet<img src=".\static\Icons\toilet.png"
                    width="50" length="50"></button>
        </div>

        <div>
            <button class="open-button" onclick="Change(1)">Booth<img src="./static/Icons/pin.png" width="50"
                    length="50"></button>
        </div>

        <div>
            <button class="open-button" onclick="Change(3)">Info<img src="./static/Icons/info.png" width="50"
                    length="50"></button>
        </div>

        <div>
            <button class="open-button" onclick="Change(4)">Edit/Delete<img src="./static/Icons/Eraser.png" width="50"
                    length="50"></button>
        </div>

        <div>
            <button class="open-button" onclick="Change(5)">Route<img src="./static/Icons/route.png" width="50"
                    length="50"></button>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>

    <script>
    </script>
    <script src="/static/Javascript/CreateObj.js"></script>
    <script type=text/javascript src="/static/Javascript/index.js"></script>
    <script type=text/javascript src="{{url_for('static', filename='Javascript/displayimage.js')}}"></script>

    <script type="text/javascript">
        var current_booth;
        var arr_object = [];
        console.log(arr_object);
        var user = '{{username.strip()}}'
        var pid = '{{pid}}'
        var imgUri = "";


        var qr;
        var qr2;

        var savedContent = new Object();

        (function () {
            qr = new QRious({
                element: document.getElementById('qr-code'), // canvas object
                size: 100, // size image qr code
                value: 'Event Me!!!' // value default text
            });

            qr2 = new QRious({
                element: document.getElementById('qr-code2'), // canvas object
                size: 100, // size image qr code
                value: 'Event Me!!!' // value default text
            });

            doRenderTemp();

        })();

        function generateQRCode() {
            var qrtext = document.getElementById("qr-text").value; // value  text from text box
            //document.getElementById("qr-result").innerHTML = "QR code for " + qrtext +":"; // get element p object to assign text
            //alert(qrtext); 
            qr.set({
                foreground: 'black', //  setup background color of qr code.
                size: 100, // size image qr code
                value: qrtext // set text for qr
            });

            qr2.set({
                foreground: 'black', //  setup background color of qr code.
                size: 100, // size image qr code
                value: qrtext // set text for qr
            });
        }

        function refreshServer() {
            $.getJSON("/org/{{username.strip()}}/project/{{pid}}/json", function (d) {
                //console.log(d.object);
                // Put the object into storage
                if (localStorage.getItem('mapObject') != null) {
                    localStorage.setItem('mapsObject', JSON.stringify(d.object));
                }
                renderData(d.object);

            }).fail(function () {
                console.log("An error has occurred.");
            });
        }

        function clearMap() {
            arr_object = [];
            saveTemp();
            doRenderTemp()
            if(imgUri != "") {
                arr_object.push({
                            "filename":imgUri,
                            "type": "background"
                        });
            }
        }

        function saveTemp() {
            // Put the object into storage
            var tempData = arr_object

            localStorage.setItem('mapsObject', JSON.stringify(tempData));
        }

        function renderData(data) {
            var OldX;
            var OldY;
            data.forEach((el, index) => {

                if (el.hasOwnProperty("type")) {
                    if(el.type == "line"){
                        console.log(el.type)
                        arr_object.push({
                            x: el.x,
                            y: el.y,
                            "type": "line"
                        });
                    }

                    if(el.type == "background"){
                        arr_object.push({
                            "filename":el.filename,
                            "type": "background"
                        });
                    }
                }
            })


            data.forEach(function (el, i) {
                if (el.hasOwnProperty("src") && (el.src == "/static/Icons/pin.png" || el.src ==
                        "../../../static/Icons/pin.png")) {
                    arr_object.push(new BoothIcon(el.x, el.y, 50, 50, "../../../static/Icons/pin.png", el
                        .title))
                }
            });

            data.forEach(function (el, i) {
                if (el.hasOwnProperty("src") && (el.src == "/static/Icons/info.png" || el.src ==
                        "../../../static/Icons/info.png")) {
                    arr_object.push(new BoothIcon(el.x, el.y, 50, 50, "../../../static/Icons/info.png", el
                        .title))
                }
            });

            data.forEach(function (el, i) {
                if (el.hasOwnProperty("src") && (el.src == "/static/Icons/toilet.png" || el.src ==
                        "../../../static/Icons/toilet.png")) {
                    arr_object.push(new BoothIcon(el.x, el.y, 50, 50, "../../../static/Icons/toilet.png", el
                        .title))
                }
            });


        } // load data

        function readTemp() {
            // Retrieve the object from storage

            var retrievedObject = JSON.parse(localStorage.getItem('mapsObject')); //JSON.stringify());
            if (retrievedObject != null && retrievedObject.length > 0) {
                return retrievedObject;
            }
            return [];

        }

        function doRenderTemp() {
            renderData(readTemp());
        }

        function saveImageAndDownload() {
            let downloadLink = document.createElement('a');
            downloadLink.setAttribute('download', 'CanvasAsImage.png');
            let canvas = document.getElementById('canvas');
            let dataURL = canvas.toDataURL('image/png');
            let url = dataURL.replace(/^data:image\/png/, 'data:application/octet-stream');
            downloadLink.setAttribute('href', url);
            downloadLink.click();

        }

        function updateQrCode() {
            var title = $("#DisName").val();
            var desc = $("#Description").val();
            var new_x = MPos.x;
            var new_y = MPos.y;
            qr.set({
                foreground: 'black', //  setup background color of qr code.
                size: 100, // size image qr code
                value: title + "," + desc + "," + new_x + "," + new_y // set text for qr
            });
        }

        function updateQrCode2() {
            var title = $("#EditName").val();
            var desc = $("#EditDis").val();
            var new_x = current_booth.x;
            var new_y = current_booth.y;
            qr2.set({
                foreground: 'black', //  setup background color of qr code.
                size: 100, // size image qr code
                value: title + "," + desc + "," + new_x + "," + new_y // set text for qr
            });
        }

        function uploadFile() {
            var input = document.getElementById("image");
            file = input.files[0];
            if (file != undefined) {
                formData = new FormData();
                if (!!file.type.match(/image.*/)) {
                    formData.append("image", file);
                    $.ajax({
                        url: "/org/{{username.strip()}}/project/{{pid}}/savebg",
                        type: "POST",
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            alert('success');
                            imgUri = "../../org/background/{{pid}}/" + data.filename + "/" + new Date().getMilliseconds();
                            arr_object.push({
                            "filename":"../../org/background/{{pid}}/" + data.filename + "/" + new Date().getMilliseconds(),
                            "type": "background"
                        });
                            console.log(data);
                            preview2("../../org/background/{{pid}}/" + data.filename + "/" + new Date().getMilliseconds());
                            
                        }
                    });
                } else {อก
                    alert('Not a valid image!');
                }
            } else {
                alert('Input something!');
            }
        }

        function preview2(uri) {
            document.getElementById("display").setAttribute("src", uri);
        }


        //setInterval(saveTemp,15000);
    </script>
</body>