<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="\static\stylesheets\Userpage.css">
    <script type="text/javascript" src="/static/Javascript/RenderData.js"></script>
    <ul>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Icons</a>
            <div class="dropdown-content">
                <a href="#">Booth</a>
                <a href="#">Info</a>
                <a href="#">Toilet</a>
            </div>
        </li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
    </ul>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to {{RoomName}}</title>
</head>

<center>
    <div id="SearchBox">
        <input type="text" id="current" placeholder="Your location">
        <p1> to </p1>
        <input type="text" id="destination" placeholder="Your Destination">
        <button class="Dbtn">Direct</button>
    </div>
</center>

<body>
    <canvas id="Canvas" width="200" height="400"></canvas>
    <script type="text/javascript" src="/static/Javascript/RenderData.js"></script>
</body>
<center>
    <div class="ActionBar">
        <button class="btn" id="ZoomIn" style="margin-left: 5px;" style="margin-right: 5px;">+</button>
        <button class="btn" id="ZoomOut" style="margin-left: 5px;" style="margin-right: 5 px;">-</button>
    </div>
</center>

</html>