<!DOCTYPE html>
<html lang=eng>

<head>
    <link rel="stylesheet" href="\static\stylesheets\UserHomePage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to EventMe!!</title>
</head>

<body>
    <div class="box">
        <form action="#" method="POST">
            <span class="text-center">EventMe!</span>
            <div class="input-container">
                <input type="text" required="" name="EventID" />
                <label>Event ID</label>
            </div>
            <button type="submit" class="btn">Enter</button>
        </form>
    </div>
</body>

<!-- Sorce and Style https://codepen.io/nikstech/pen/xmMxpr -->