<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Create your Event</title>
        <link rel="stylesheet" href="/static/stylesheets/welcome-Templatee.css">
        <link rel="Javascript" href="/static/Javascript/main.js">
        <script src="jquery-3.5.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <script type="text/Javascript" src="/static/Javascript/main.js"></script>
    <body>
        <div id="map" class="container">
            <img src="/Users/rewphg/go/src/github.com/Rewphg/Mapproject1/public/static/stylesheets/mara.jpg">
        </div>
        <a href="select.html">
            <button>Back</button>
        </a>
        <script>
            $()
        </script>
        <canvas id="canvas"></canvas>
    </body>
</html>