<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="C:\Users\windows\Desktop\EventMe\Mapproject1\static\stylesheets\format.css">
        <link rel="stylesheet" href="C:\Users\windows\Desktop\EventMe\Mapproject1\static\stylesheets\form.css">
        <title>Create your Template</title>
        </head>
        
        <body>
            <div class="vertical-menu">
                <a href="#" class="active">Menu</a>
                <div> 
                    <button class="open-button" onclick="openForm()">Booth<img src="C:\Users\windows\Desktop\EventMe\Mapproject1\static\Icons\fair-stand.png"width="50" length="50"></button>
                <div class="form-popup" id="myForm">
                 <form action="/action_page.php" class="form-container">
                    <h1>Booth</h1>
                      <label for="text"><b>Description</b></label>
                        <input type="text" placeholder="Enter your booth description here">
                        <button type="submit" class="btn">Confirm</button>
                        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
                </div>
                </div>
        
                <div>
                <button class="open-button" onclick="openForm()">First-Aid<img src="C:\Users\windows\Desktop\EventMe\Mapproject1\static\Icons\first-aid-kit.png"width="50" length="50"></button>
                <div class="form-popup" id="myForm">
                 <form action="/action_page.php" class="form-container">
                    <h1>Login</h1>
                      <label for="text"><b>First-Aid</b></label>
                        <input type="text" placeholder="">
                        <button type="submit" class="btn">Confirm</button>
                        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
                </div>
                </div>
        
                <div>
                    <button class="open-button" onclick="openForm()">Toilet<img src="C:\Users\windows\Desktop\EventMe\Mapproject1\static\Icons\toilet.png"width="50" length="50"></button>
                <div class="form-popup" id="myForm">
                 <form action="/action_page.php" class="form-container">
                    <h1>Login</h1>
                      <label for="email"><b>Email</b></label>
                        <input type="text" placeholder="">
                        <button type="submit" class="btn">Confirm</button>
                        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
                </div>
                </div>
        
                <div>
                    <button class="open-button" onclick="openForm()">Text Box<img src="C:\Users\windows\Desktop\EventMe\Mapproject1\static\Icons\text.png"width="50" length="50"></button>
                <div class="form-popup" id="myForm">
                 <form action="/action_page.php" class="form-container">
                    <h1>Login</h1>
                      <label for="text"><b>Text Box</b></label>
                        <input type="text" placeholder="">
                        <button type="submit" class="btn">Confirm</button>
                        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
                </div>
                </div>
        
                <div>
                    <button class="open-button" onclick="openForm()">Information<img src="C:\Users\windows\Desktop\EventMe\Mapproject1\static\Icons\info.png"width="50" length="50"></button>
                    <div class="form-popup" id="myForm">
                     <form action="/action_page.php" class="form-container">
                        <h1>Login</h1>
                          <label for="text"><b>Information</b></label>
                            <input type="text" placeholder="">
                            <button type="submit" class="btn">Confirm</button>
                            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                    </form>
                    </div>
                </div>
               
        
                      <a href="select.html">
                          <button>Back</button>
                      </a>
         
          <script>
              function openForm() {
                 document.getElementById("myForm").style.display = "block";
                      }
                 function closeForm() {
                document.getElementById("myForm").style.display = "none";
                      }
            </script>
        </body>
<!--<script>
       if (typeof FunctionName == 'function') { 
        FunctionName(); 
}else{
    console.log('Check FunctionName!');
}
</script>
-->
    </body>
</html>