<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Select your location</h1>
       <!--<form>--> 
           <!--<input type="Location" class="input-box" placeholder="Select your location">--> 
        <!--</form>-->
        <p>
            <select id = "Location">
              <option value = "Select yout location">Hm Building</option>
             
            </select>
        </p>
        <a href="Login/login.html">
            <button>Back</button><br>
        </a>
        <a href="custom.html">
            <button>Next</button>
        </a>

    </body>

</html>