<!DOCTYPE html>
<html lang=eng>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Signup</title>
        <style>
            .center{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                    }
        </style>
    </head>
    <body>
       <div class="center">
           <div class="row">
               <h2>Sign Up</h2>
               <p>Please fill in this form to create the account.</p>
               <form>
                   <div>
                       <label>Full Name</label><br>
                       <input type="text" name="name" class="form-control" placeholder="Enter Full Name" required>
                   </div>
                   <div>
                       <br><label>Email Address</label><br>
                       <input type="email" name="email" class="form-control" placeholder="Enter Email" required>
                   </div>
                   <div>
                       <br><label>Password</label><br>
                       <input type="password" name="password" class="form-control" placeholder="Enter Password" required>
                   </div>
                   <div>
                       <br><label>Confirm Password</label><br>
                       <input type="password" name="confirm_pw" class="form-control" placeholder="Confirm Password" required>
                   </div>
                   <div>
                       <br><input type="submit" name="submit" value="Submit">
                   </div>
                   <p>Already have an account?<a href="org.html">Login here</a></p>
               </form>
           </div>
       </div> 
    </body>
</html>