<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Create your Event</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="C:\Users\windows\Desktop\EventMe\Mapproject1\static\stylesheets\stylemenu.css">
        <link rel="stylesheet" href="C:\Users\windows\Desktop\EventMe\Mapproject1\static\stylesheets\1.css">
    </head>
<body>
   <h2>Popup</h2>
   <div class="vertical-menu">
    <div class="popup" onclick="myFunction()">
      <a href="#">Booth<br> <img src="C:\Users\windows\Desktop\EventMe\Mapproject1\static\Icons\fair-stand.png" width="50" length="50"></a>
      <span class="popuptext" id="myPopup">Description
      </span>
      </div>
    
    <a href="#">First-Aid<br><img src="C:\Users\windows\Desktop\EventMe\Mapproject1\static\Icons\first-aid-kit.png" width="50" length="50"></a>
    <a href="#">Toilet<br><img src="C:\Users\windows\Desktop\EventMe\Mapproject1\static\Icons\toilet.png" width="50" length="50"></a>
    <a href="#">Text Box<br><img src="C:\Users\windows\Desktop\EventMe\Mapproject1\static\Icons\text.png" width="50" length="50"></a>
    <a href="#">Information<br><img src="C:\Users\windows\Desktop\EventMe\Mapproject1\static\Icons\info.png" width="50" length="50"></a>
  </div>
    
  <script>
      function myFunction() {
      var popup = document.getElementById("myPopup");
      popup.classList.toggle("show");
          }
  </script>
 
<a href="select.html">
  <button>Back</button>
</a>
</body>
</html>
          

<!--<div class="vertical-menu">
  <a href="#" class="active">Menu</a>
  <button class="open-button" onclick="openForm()">Open Form</button>
    <div class="form-popup" id="form">
    <form action="/action_page.php" class="form-container">
        <label for="info">Booth Description:</label><br>
        <input type="text" id="form" name="info"><br>
    </form>-->

<!--<script>
    
    function openForm() {
    document.getElementById("myForm").style.display = "block";
    }
            
    function closeForm() {
    document.getElementById("myForm").style.display = "none";
    }
</script>--
  
            
    </body>
</html>